.container {
    position: relative;
    text-align: center;
    color: white;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:gray; 
        color: white;
        border: 3px solid white;
        width: 90%;
        text-align: center;
        font-family: fantasy;
        font-size: 200%;
        }
        .heading{
            font-size: 100%;
            color: white;
        text-align: center;
        font-family: fantasy;
            
        }
        p{
    margin: 2px;
    padding: 30px;
    font-family: fantasy;
    font-size: 130%
                
    }
    .image{
        width: 25%;
        height: 35%;
        border-radius: 50%;
        border: solid black 1px;
        }
        .list{
            font-size: 130%
            }
        